# Python
**/__pycache__/
*.pyc
*.pth
*.pt
*.sh
# Models & Resources
code/models/

# Environment
code/.env

# Dependencies
code/node_modules/

# Build artifacts
code/dist/
**/.parcel-cache/

# Project specific
code/ProactiveAgent/
*.deb

code/test.py
code/tests.ipynb

*.onnx
code/turndetect_test.py

.vscode/
code/package-lock.json
poetry.lock
package-lock.json
